body{
  background: lightblue;  
}
h1{
    text-align: center; 
    color: black;
}
.flex a{
    color: navy;
    margin: 0 20px;
}
.flex {
    text-align: center;
            
}
.picture{ 
    display: block;
    padding-top: 10px;
    max-width: 80%;
    margin: auto;
    border-radius: 20px;
    justify-content: center;
    padding-bottom: 20px;
    
}
.info{
    text-align: center;
    padding-bottom: 20px;
}